$font-primary: courgette
$font-secondary: roboto
$main-text: calibri
$font-stack: Open Sans, san-serif

$LightShade-Color: RGBA(229, 225, 236, 1)
$LightAccent-Color: RGBA(165, 138, 192, 1)
$Primary-Color: RGBA(100, 73, 153, 1)
$DarkAccent-Color: RGBA(115, 110, 205, 1)
$DarkShade-Color: RGBA(32, 20, 41, 1)

$DarkShader: RGBA(42, 42, 42, 1)
$black : RGBA(33, 33, 33, 1)

@import nav
@import footer