$Font-Header-1: courgette
$Font-Header-2: oswald
$Font-text-1: raleway   
$Font-text-2: Open Sans

$LightShade-Color: #FFFFFF
$LightAccent-Color: #8F96CF
$Primary-Color: #644999
$DarkAccent-Color: #736ECD 
$DarkShade-Color: #24172D

$DarkShader: RGBA(42, 42, 42, 1)
$black : #2d2d2d

@import nav
@import footer


body
.ND_index-banner:before
    opacity: 0.2
.ND_index-banner
    height: auto
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    background-attachment: fixed
    background-blend-mode: color
    background-color: rgba(238, 238, 238, 0.81) !important
    background-image: url("../Img/background.jpg")
    .artbook-container
        overflow: hidden
        .artbook-container .artbook-banner
            
        .artbook-banner
            transform: translate(100px,30%)
            width: 200px
            height: auto

.ND_Artbook-main  
    background-color: #ffffff
    .Artbook-intro
        width: 100%
        flex-flow: column wrap
        justify-content: center
        align-items: center
        padding: 20px 0px 50px
        overflow: hidden
        .intro-container
            text-align: center
            margin-bottom: 30px
            #intro-title
                margin: 0px
                display: inline-block
                position: relative
                font-size: 28px
                font-weight: 400
                color: $Primary-Color
                text-transform: uppercase
                font-family: $Font-Header-2
            #intro-title::after
                left: 100%
                margin-left: 10px
                padding-right: 10px
            #intro-title::before, #intro-title::after
                position: absolute
                content: ""
                display: block
                width: 100%
                border-top: 4px solid $Primary-Color
                border-bottom: 3px solid $DarkAccent-Color
                height: 12px
                top: 50%
                margin-top: -3px
            #intro-title::before
                right: 100%
                margin-right: 10px
                padding-left: 10px
            #intro-subtitle
                margin-bottom: 20px
                font-size: 14px
                letter-spacing: 1.5px
                color: $LightAccent-Color
                text-transform: uppercase
                font-family: $Font-Header-2
            #intro-content
                font-size: 16px
                font-weight: 600
                font: $Font-text-2
                color: $black
    .Artbook_First_Section,
    .Artbook_Second_Section, 
    .Artbook_Third_Section
        margin: 0 auto
        max-width: 1200px
        padding: 5rem 1rem
        .Section-header
            padding: 1rem 0
            text-align: center
            h4
                font: $Font-text-2
                font-weight: 600
            h6
                font: $Font-text-2
                font-weight: 400
        .Section_Gallery
            .Gallery-grid
                display: flex
                flex-wrap: wrap
                flex-direction: row
                .grid-cell
                    margin: 1rem
                    .grid-cell img
                        display: block
                    .cell-image
                        max-width: 100%
            
        