.navbar {
  background-color: RGBA(42, 42, 42, 1);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-brand {
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  color: #644999;
  font-size: 1.5em;
  font-family: courgette;
}

.navbar .navbar-toggler {
  font-size: 1.5em;
  color: #E4E2E2;
  position: absolute;
  left: 50%;
  top: 106%;
  margin: -20px;
  padding: 0px 15px 10px;
  background-color: RGBA(42, 42, 42, 1);
  border-radius: 0px 0px 25px 25px;
}

.navbar .navbar-nav {
  -ms-flex-line-pack: right;
      align-content: right;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.navbar .navbar-nav .nav-item {
  padding: 4px 6px;
  font-size: 18px;
  font-weight: 500;
  color: #E4E2E2;
  font-family: calibri;
}

.navbar .navbar-nav .nav-item:hover {
  border-radius: 25px;
  background-color: #644999;
}

.navbar .navbar-nav .nav-link {
  color: #E4E2E2;
  display: block;
  padding: 4px 10px;
  text-decoration: none;
}

.ND_footer {
  margin: 0;
  background-color: #24172D;
}

.ND_footer .footer-col {
  padding: 40px 0px;
}

.ND_footer .footer-col .col-center {
  text-align: center;
}

.ND_footer .footer-col .col-center #footer-title-desc {
  font-size: 24px;
  font-weight: 400;
  font-family: courgette;
  color: #FFFFFF;
}

.ND_footer .footer-bottom {
  margin: 0;
  text-align: center;
  background-color: #24172D;
}

.ND_footer .footer-bottom #footer-bottom-text {
  margin: 0;
  font-size: 12px;
  padding: 10px;
  color: #FFFFFF;
  font: Open Sans;
}

h4, h6 {
  color: RGBA(42, 42, 42, 1);
}

.ND_ArtBook-main .Artbook_main-header {
  position: relative;
  text-align: center;
  height: 40vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../Img/background.jpg");
}

.ND_ArtBook-main .Artbook_main-header #header-title {
  color: #644999;
  font-family: oswald;
  font-size: 42px;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ND_ArtBook-main .Artbook_First_Section,
.ND_ArtBook-main .Artbook_Second_Section,
.ND_ArtBook-main .Artbook_Third_Section {
  margin: 0 auto;
  max-width: 1200px;
  padding: 5rem 1rem;
}

.ND_ArtBook-main .Artbook_First_Section .Section-header,
.ND_ArtBook-main .Artbook_Second_Section .Section-header,
.ND_ArtBook-main .Artbook_Third_Section .Section-header {
  padding: 1rem 0;
  text-align: center;
}

.ND_ArtBook-main .Artbook_First_Section .Section-header h4,
.ND_ArtBook-main .Artbook_Second_Section .Section-header h4,
.ND_ArtBook-main .Artbook_Third_Section .Section-header h4 {
  font: Open Sans;
  font-weight: 600;
}

.ND_ArtBook-main .Artbook_First_Section .Section-header h6,
.ND_ArtBook-main .Artbook_Second_Section .Section-header h6,
.ND_ArtBook-main .Artbook_Third_Section .Section-header h6 {
  font: Open Sans;
  font-weight: 400;
}

.ND_ArtBook-main .Artbook_First_Section .Section_Gallery .Gallery-grid,
.ND_ArtBook-main .Artbook_Second_Section .Section_Gallery .Gallery-grid,
.ND_ArtBook-main .Artbook_Third_Section .Section_Gallery .Gallery-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ND_ArtBook-main .Artbook_First_Section .Section_Gallery .Gallery-grid .grid-cell,
.ND_ArtBook-main .Artbook_Second_Section .Section_Gallery .Gallery-grid .grid-cell,
.ND_ArtBook-main .Artbook_Third_Section .Section_Gallery .Gallery-grid .grid-cell {
  margin: 1rem;
}

.ND_ArtBook-main .Artbook_First_Section .Section_Gallery .Gallery-grid .grid-cell .grid-cell img,
.ND_ArtBook-main .Artbook_Second_Section .Section_Gallery .Gallery-grid .grid-cell .grid-cell img,
.ND_ArtBook-main .Artbook_Third_Section .Section_Gallery .Gallery-grid .grid-cell .grid-cell img {
  display: block;
}

.ND_ArtBook-main .Artbook_First_Section .Section_Gallery .Gallery-grid .grid-cell .cell-image,
.ND_ArtBook-main .Artbook_Second_Section .Section_Gallery .Gallery-grid .grid-cell .cell-image,
.ND_ArtBook-main .Artbook_Third_Section .Section_Gallery .Gallery-grid .grid-cell .cell-image {
  max-width: 100%;
}
/*# sourceMappingURL=artbook.css.map */